/* Overall background styling */
.navbar-container {
    width: 100%;
    height: 100vh;
    /* Full height page */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Center buttons */
    background: linear-gradient(135deg, #ef6c6c, #b8158c);
    font-family: "Poppins", sans-serif;
}

/* Navigation bar box */
.navbar {
    background: rgb(67, 25, 61);
    padding: 40px 60px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 8px 30px rgba(84, 62, 62, 0.893);
}

/* Title */
.navbar-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #fffcfc;
}

/* Buttons wrapper */
.navbar-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

/* Button styling */
.btn {
    padding: 12px 30px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

/* Login Button */
.login-btn {
    background-color: #b63bd2;
    color: white;
}

.login-btn:hover {
    transform: scale(1.05);
    background-color: #921081;
}

/* Logout Button */
.attendance-btn {
    background-color: #ff6b6b;
    color: white;
}

.attendance-btn:hover {
    transform: scale(1.05);
    background-color: #fa5252;
}